
/*********************************************
* LOGIN PAGE
*********************************************/
#login {
    display: flex;
    flex-direction: column;
    border-style: ridge;
    margin: auto;
    width: 250px;
    padding: 25px;
}

#loginbutton {
    background-color: orange;
}

/*********************************************
* SELECTION PAGE
*********************************************/
#selection {
    display: flex;
    flex-direction: column;
    border-style: ridge;
    margin: auto;
    width: 75%;
    padding: 25px;
    justify-content: space-around;

}

#game-selection {
padding: 25px;
}

#playerordm {
    display:flex;
    flex-direction: row;
    padding: 10px;
}

/* Div for selecting Dm profiles */
#dm-selection {
    display:flex;
    flex-direction: column;
    padding: 10px;
}

/* Div for selecting character profiles */
#character-selection {
    display:flex;
    flex-direction: column;
    padding: 10px;
}

#createCharacterButton {

}

img {
    width: 100px;
    height: auto;
}


/*********************************************
* CHARACTER CREATION PAGE
*********************************************/
#character-creation {
    display: flex;
    flex-direction: column;
    border-style: ridge;
    margin: auto;
    width: 500px;
    padding: 25px;
}

/*********************************************
* DM PROFILE CREATION PAGE
*********************************************/
#dm-profile-creation {
    display: flex;
    flex-direction: column;
    border-style: ridge;
    margin: auto;
    width: 500px;
    padding: 25px;
}

/*********************************************
* DM PROFILE CREATION PAGE
*********************************************/
#game-creation {
    display: flex;
    flex-direction: column;
    border-style: ridge;
    margin: auto;
    width: 500px;
    padding: 25px;
}