#login {
    display: flex;
    flex-direction: column;
    border-style: ridge;
    margin: auto;
    width: 250px;
    padding: 25px;
}

#loginbutton {
    background-color: orange;
}

#selection {
    display: flex;
    flex-direction: column;
    border-style: ridge;
    margin: auto;
    width: 500px;
    padding: 25px;

}